*{
    margin: 0;
    padding: 0;
}
#div_1 {
    background-color:rgb(237, 237, 60);
    margin-left: 1px;
    margin-right: 1px;
    height: 60px;
    text-align: center;
    justify-content: center;
}
#div_1 p{
    padding-top: 20px;
}
#web_Font{
    margin-left: auto;
    margin_right: auto;
    margin-top: 80px;
    height: 60px;
    text-align: center;
    justify-content: center;
}
#web_Font p{
    font-family:cursive;
    font-size: 30px;
    color:rgb(227, 227, 108);
}
#div_3 {
    padding-top: 60px;
    background-color:rgb(239, 239, 121);
    margin-left: 1px;
    margin-right: 1px;
    height: 180px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#div_A{
    height: 100px;
    width: 100px;
    background-color: rgb(120, 192, 120);
    display: inline-block;
 }
#div_A p{
    margin-top: 7px;
}
#div_B{
    margin-left: 8px;
    margin-right: 8px;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color:rgb(148, 148, 9);
    display: inline-block;
}
#div_B p{
    margin-top: 6px;
}

#div_Z{
    background-color: white;
    height: 85%;
    width:85%;
    margin-left: 7px;
    margin-top: 7px;
}
#div_Z p{
   padding-top: 15px;
}

#div_C{
    background-color:rgb(236, 195, 91);
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
}
#div_C p{
    padding-top: 35px;
    max-lines: 2;
    width: 50px;
    padding-left: 23px;
}

.divClass {

}
.verticalDiv{
    width: 100vw;
    border: 5px solid green;
    background-color:lightgray;
    height: 70px;
    text-align: center;
    justify-content: center;
}
.verticalDiv p{
    margin-top: 6px;
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
}